[submodule "files/tmux/plugins/tmux-sensible"]
	path = files/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "files/tmux/plugins/tpm"]
	path = files/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/base16-shell"]
	path = submodules/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "files/tmux/plugins/vim-tmux-navigator"]
	path = files/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "files/tmux/plugins/tmux-yank"]
	path = files/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "files/vim/pack/vim-airline/start/vim-airline"]
	path = files/vim/pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "files/vim/pack/vim-airline-themes/start/vim-airline-themes"]
	path = files/vim/pack/vim-airline-themes/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "files/vim/pack/vim-wayland-clipboard/start/vim-wayland-clipboard"]
	path = files/vim/pack/vim-wayland-clipboard/start/vim-wayland-clipboard
	url = https://github.com/jasonccox/vim-wayland-clipboard.git
[submodule "files/vim/pack/vim-gitgutter/start/vim-gitgutter"]
	path = files/vim/pack/vim-gitgutter/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "files/vim/pack/ale/start/ale"]
	path = files/vim/pack/ale/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "files/vim/pack/vim-tmux-navigator/start/vim-tmux-navigator"]
	path = files/vim/pack/vim-tmux-navigator/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "files/vim/pack/base16-vim/start/base16-vim"]
	path = files/vim/pack/base16-vim/start/base16-vim
	url = https://github.com/danielwe/base16-vim.git
[submodule "files/vim/pack/vim-smali/start/vim-smali"]
	path = files/vim/pack/vim-smali/start/vim-smali
	url = https://github.com/kelwin/vim-smali.git
[submodule "files/vim/pack/vim-tmux/start/vim-tmux"]
	path = files/vim/pack/vim-tmux/start/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "files/vim/pack/vim-pkgbuild/start/vim-pkgbuild"]
	path = files/vim/pack/vim-pkgbuild/start/vim-pkgbuild
	url = https://github.com/m-pilia/vim-pkgbuild.git
[submodule "files/vim/pack/vim-puppet/start/vim-puppet"]
	path = files/vim/pack/vim-puppet/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "files/vim/pack/ansiesc.vim/start/ansiesc.vim"]
	path = files/vim/pack/ansiesc.vim/start/ansiesc.vim
	url = https://github.com/berdandy/ansiesc.vim.git
[submodule "files/vim/pack/vim-css-color/start/vim-css-color"]
	path = files/vim/pack/vim-css-color/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
